.App {
  display: flex;
  min-width: 100vw;
  height: 100vh;
  overflow-x: auto;
}

:root {
  --background-dark: #020617;
  --background-light: #ffffff;
  --text-light: var(--background-light);
  --text-dark: var(--background-dark);
}

/* home */
.bg-dark {
  background-color: var(--background-dark);
  color: var(--text-light);
}

.bg-light {
  background-color: var(--background-light);
  color: var(--text-dark);
}

#story-teller-home {
  margin-left: 100px;
  display: grid;
  grid-template-columns: calc(100vw - 215px) 115px;
}

#navbar {
  position: fixed;
  width: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  border-right: 1px solid #e2e8f0;
  z-index: 100;
  backdrop-filter: blur(50px);
}

.bg-dark #navbar {
  border-right: 1px solid #1e293b;
}

#navbar a,
#navbar i {
  margin: auto 25px;
}

.main-content {
  position: relative;
  padding-left: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-main {
  width: 100%;
}

.heading {
  margin: auto 100px;
  font-size: 80px;
  text-decoration: double;
  background: linear-gradient(to top, #7e22ce, #be123c);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.next {
  position: absolute;
  top: 50%;
  right: 25px;
  animation: blink 2s ease-in-out infinite;
}
.next i {
  background-color: white;
  padding: 0;
  border-radius: 100%;
  border: 2px solid white;
  transition: all ease-in-out 300ms;
}

.next :hover {
  transform: translateX(5px);
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.fa-solid {
  font-size: 40px;
  cursor: pointer;
}

.fa-toggle-on {
  color: #1e293b;
}

.fa-toggle-off {
  color: #e2e8f0;
}

.fa-bars {
  font-size: 30px;
}

.uibix-logo {
  border-radius: 100%;
}

.svg-curve {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: content-box;
}

#wave-container {
  transform: rotate(-90deg);
  padding: 0;
  display: flex;
}

#wave {
  transition: 0.2s;
  width: 100vh;
}

/* About Us */

#story-teller-about-us,
#story-teller-services {
  display: grid;
  grid-template-columns: 100px calc(100vw - 315px) 115px;
}

#story-teller-about-us h1,
#story-teller-services h1 {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  writing-mode: vertical-lr;
  transform: scale(-1);
}

#story-teller-about-us h1::before,
#story-teller-about-us h1::after {
  font-weight: lighter;
  content: "Who we are?";
  text-align: center;
  font-size: 24px;
}

#story-teller-services h1::before,
#story-teller-services h1::after {
  font-weight: lighter;
  content: "What we offer?";
  text-align: center;
  font-size: 24px;
}

#main-content-services,
#main-content-about-us {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.service-icon,
.about-icon {
  padding: 25px;
  box-shadow: 0 0 2px 2px #808a9f1c;
  border-radius: 100%;
  align-self: flex-start;
}

#main-content-about-us h2,
#main-content-services h2 {
  align-self: flex-start;
  margin-top: 5px;
}

#main-content-about-us p,
#main-content-services p {
  font-size: 20px;
  padding-right: 100px;
}

/* canva */
#canva {
  transform: translateY(-100vh);
}

#canva-tool-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  z-index: 50;
}
.canva-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  transition: all ease-in-out 300ms;
  margin: 10px 10px;
}

.canva-tool i {
  font-size: medium;
  background-color: #00000011;
}

.canva-tool input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  margin-top: 25px;
}

.canva-tool label {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.canva-tool:hover {
  transform: translateY(5px);
}

/* mobile and tablet responsiveness */

@media only screen and (max-width: 1000px) {
  #canva {
    transform: translateY(-100vh);
  }
  #canva-tool-container {
    flex-direction: column;
    top: 45%;
    left: 0;
  }
  .canva-tool:hover {
    transform: translateX(5px);
  }

  #navbar {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
  }
  #navbar .fa-toggle-off,
  #navbar .fa-toggle-on {
    display: none;
  }

  #story-teller-home {
    margin-left: 0px;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-rows: calc(100vh - 115px) 115px;
  }

  .main-content {
    width: 100vw;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .sub-main {
    height: 100vh;
  } */

  .heading {
    text-align: center;
    margin: 80px;
    font-size: large;
  }

  .svg-curve {
    height: 100px;
    width: 100vw;
  }

  #wave {
    width: 100vw;
  }

  #wave-container {
    transform: rotate(0deg);
    justify-content: flex-end;
  }

  #story-teller-about-us,
  #story-teller-services {
    grid-template-columns: none;
    padding-top: 50px;
    grid-template-rows: 100px calc(100vh - 315px) 115px;
  }

  #main-content-services,
  #main-content-about-us {
    padding: 50px;
    justify-content: start;
    align-items: start;
  }

  #main-content-about-us p,
  #main-content-services p {
    font-size: medium;
    padding: 0px;
  }

  #main-content-about-us p,
  #main-content-services p {
    font-size: medium;
    padding: 0px;
  }

  #story-teller-about-us h1,
  #story-teller-services h1 {
    writing-mode: horizontal-tb;
    transform: scale(1);
    font-size: large;
  }

  #story-teller-about-us h1::before,
  #story-teller-about-us h1::after {
    font-size: small;
  }

  #story-teller-services h1::before,
  #story-teller-services h1::after {
    font-size: small;
  }
}

@media only screen and (max-width: 400px) {
  #main-content-services,
  #main-content-about-us {
    padding: 10px;
  }
}
