.App {
  display: flex;
  min-width: 100vw;
  height: 100vh;
  overflow-x: auto;
}

:root {
  --background-dark: #0f172a;
  --background-light: #f8fafc;
  --text-light: var(--background-light);
  --text-dark: var(--background-dark);
}

/* home */
.bg-dark {
  background-color: var(--background-dark);
  color: var(--text-light);
}

.bg-light {
  background-color: var(--background-light);
  color: var(--text-dark);
}

#story-teller-home {
  margin-left: 100px;
  display: grid;
  grid-template-columns: calc(100vw - 215px) 115px;
}

.navbar {
  position: fixed;
  width: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  border-right: 1px solid #e2e8f0;
  z-index: 100;
  background-color: var(--background-light);
}

.bg-dark .navbar {
  border-right: 1px solid #1e293b;
  background-color: var(--background-dark);
}

.main-content {
  position: relative;
  padding-left: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-main {
  width: 100%;
}

.heading {
  margin: auto 100px;
  font-size: 80px;
  text-decoration: double;
  background: linear-gradient(to top, #7e22ce, #be123c);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll-right {
  position: absolute;
  bottom: 100px;
  right: 100px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: bolder;
  font-size: large;
  width: 100px;
  height: 100px;
  background-color: #2a385c;
  color: var(--text-light);
  animation: blink 2s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.fa-solid {
  font-size: 40px;
  cursor: pointer;
}

.fa-toggle-on {
  color: #1e293b;
}

.fa-toggle-off {
  color: #e2e8f0;
}

.fa-bars {
  font-size: 30px;
}

.uibix-logo {
  border-radius: 100%;
}

.svg-curve {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: content-box;
}

.svg-curve img {
  transform: rotate(-90deg);
  width: 100vh;
  height: auto;
}

/* About Us */

#story-teller-about-us,
#story-teller-services {
  display: grid;
  grid-template-columns: 100px calc(100vw - 315px) 115px;
}

#story-teller-about-us h1,
#story-teller-services h1 {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  writing-mode: vertical-lr;
  transform: scale(-1);
}

#story-teller-about-us h1::before,
#story-teller-about-us h1::after {
  content: "Who we are?";
  text-align: center;
  font-size: 24px;
  color: #94a3b8;
}

#story-teller-services h1::before,
#story-teller-services h1::after {
  content: "What we offer?";
  text-align: center;
  font-size: 24px;
  color: #94a3b8;
}

.main-content-services,
.main-content-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.service-icon,
.about-icon {
  padding: 25px;
  box-shadow: 0 0 2px 2px #808a9f1c;
  border-radius: 100%;
  margin-right: 10px;
}

.main-content-about-us h2,
.main-content-services h2 {
  align-self: flex-start;
  text-decoration: underline;
}

.main-content-about-us p,
.main-content-services p {
  font-size: 20px;
  padding-right: 100px;
  color: #64748b;
}
